<ion-view view-title="Confirmation">
  <ion-content class="padding">
    <div class="card animated bounceInLeft" align="center">
       <div class="item item-divider animated fadeInLeft" align="center">
         You have successfully completed the process
       </div>
       <div class="item item-divider animated fadeInLeft" align="center">
         Your travelling with {{Airline}}
       </div>
       <div class="item item-text-wrap">
         Passenger name : {{Confirm.email}}
       </div>
       <div class="item item-text-wrap" ng-if="other==false">
         Outgoing Seat number : {{Confirm.seatCode}}
         <div ng-if="flg=='Returning'">
         <br>
         Returning Seat number : {{rSeat}}
        </div>
       </div>
       <div class="item item-text-wrap" ng-if="other==false">
         Outgoing Seat class : {{Confirm.seatClass}}
         <div ng-if="flg=='Returning'">
         <br>
         Returning Seat class : {{rClass}}
        </div>
       </div>
       <div class="item item-text-wrap" ng-if="other==false">
        Booking Reference number : {{receipt}}
       </div>
       <div class="item item-text-wrap" ng-if="other==true">
         Booking Reference number : {{receipt}}
         <div ng-if="other==true">
         <br>
         **You can keep track of your flights using this bookingRefNum only in their website not ours
        </div>
       </div>
       <div class="item item-text-wrap">
         Your flight number : {{num}}
       </div>
       <div class="item item-divider">
           We have charged you with {{cost}} dollars
       </div>
</div>
</ion-content>
</ion-view>
