<style>
.home .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;

  padding: 30px;
  font-size: 150%;
}


</style>
<ion-view view-title="Confirmation" class="home">
  <ion-content class="padding" style="background-color:orange;">
     <p>
                          <span class="row">Your Name:{{Confirm.fname + ' ' + Confirm.lname}}</span>
                          <br>
                          <span class="row">Your email:{{Confirm.email}}     </span>
                          <br>
                          <span class="row"> Outgoing Seat number:{{Confirm.seatCode}}       </span>
                          <br>

                          <span class="row" ng-if="rr">Returning Seat number:{{rSeat}}   </span>
                          <br>
                          <span class="row" ng-if="rr">Returning Seat class:{{rClass}}   </span>
                          <br>
                            <span class="row">Outgoing seat class:{{Confirm.seatClass}}</span>
                            <br>
                             <span class="row">Booking Reference number:</span>
                             <br>
                             <span>{{receipt}}</span>
                          <span class="row">Outgoing flight number:{{Confirm.flight}}</span>
                          <br>

                          <span class="row"ng-if="rr"> returning flight number:{{rFlight}}</span>
                          <br>



  </ion-content>
</ion-view>
