<style>
.pane {
      background-color: #EEEEEE; no-repeat ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
</style>

<ion-view class="pane11" title="Lufthansa, Non stop you">
    <ion-content class="padding">
<!--
      <button class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
    <span class="icon mif-rocket"></span>
    <span class="title">Rocket</span>
    <span class="badge">10</span>
      </button>

      <div class="dropdown-button">
      <button class="button dropdown-toggle">Menu</button>
      <ul class="split-content d-menu" data-role="dropdown">
          <li><a href="#">Reply</a></li>
          <li><a href="#">Reply All</a></li>
          <li><a href="#">Forward</a></li>
      </ul>
  </div>
  <div class="dropdown-button place-right">
      <button class="button dropdown-toggle">Menu</button>
      <ul class="split-content d-menu place-right" data-role="dropdown">
          <li><a href="#">Reply</a></li>
          <li><a href="#">Reply All</a></li>
          <li><a href="#">Forward</a></li>
      </ul>
</div>
<button class="button success block-shadow-success text-shadow">Button</button>
<button class="button warning block-shadow-warning text-shadow">Button</button>
<button class="button danger block-shadow-danger text-shadow">Button</button>
<button class="button info block-shadow-info text-shadow">Button</button>
<button class="button loading-pulse">Download NOW</button>
<button class="button loading-pulse lighten primary">Download NOW</button>
<button class="button loading-cube">Loading...</button>
<button class="button loading-cube lighten danger">Loading...</button>
<div class="pagination">
    <span class="item">val</span>
    <span class="item current">val</span>
    <span class="item disabled">val</span>
    <span class="item spaces">...</span>
    <span class="item">val</span>
</div>
<div class="pagination rounded">...</div>
<div class="pagination cycle">...</div>
<div class="pagination no-border">...</div> -->
      <ion-slide-box class="animated zoomInLeft" >

          <ion-slide>
            <div class="sp-container">
                  <h4 class="frame-1">Paris this summer!</h4>

                <h4 class="frame-2">Visitez PARIS</h4>

                <h4 class="frame-3">Eiffel tower ?!</h4>
              <img style="width: 100%" src="img/paris.jpg">
                <h4 class="frame-4">Just 5000LE</h4>
                <h4 class="frame-5"><span>Lufthansa</span></h4>
              </div>
          </ion-slide>
          <ion-slide>
            <div class="sp-container">
                  <h4 class="frame-1">Berlin this summer</h4>

                <h4 class="frame-2">Besucht Deutshcland</h4>

                <h4 class="frame-3">Alienz-Arena ?!!</h4>
              <img style="width: 100%" src="img/berlin.jpg">
                <h4 class="frame-4">Just 6000LE</h4>
                <h4 class="frame-5"><span>Lufthansa</span></h4>
              </div>
          </ion-slide>
          <ion-slide>
            <div class="sp-container">
                  <h4 class="frame-1">NYC this summer</h4>

                <h4 class="frame-2">Statue of Liberty!?</h4>

                <h4 class="frame-3">Don't miss this</h4>
              <img style="width: 100%" src="img/NYC.jpg">
                <h4 class="frame-4">Just 9000LE</h4>
                <h4 class="frame-5"><span>Lufthansa</span></h4>
              </div>
          </ion-slide>
      </ion-slide-box>







<div align="center">
  <button class="button button icon-right ion-plane button-energized animated zoomInRight" ng-click="goToLanding()" >
    Book you flight now
</button>
</div>
<br>
  <div align="center">
<button class="button button icon-right ion-update button-energized animated zoomInLeft" ng-click="checkForUpdates()">
  Check for updates
</button>
<button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
  download update
</button>

</div>
    </ion-content>
</ion-view>
