<style>
.pane11 {
        background: url(img/ll2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
</style>
<ion-view title="Lufthansa, Non stop you." class="pane11">
    <ion-content class="padding">

      <div class="list card animated bounceInLeft">
  <div class="item item-body">
    <div>
      There is a fire in <b>sector 3</b>
    </div>
  </div>
</div>
<br><br>
<br>
<br>
<br>

  <button class="button button button-calm animated bounceInDown" ng-click="goToLanding()" >
    To landing
</button>

<br>
<br>
<br>
<br>
<br>

<div class="list card animated bounceInRight">
  <div class="item item-body">
    <div>
      You have <b>29</b> meetings on your calendar tomorrow.
    </div>
  </div>
</div>
    </ion-content>
</ion-view>
