<ion-view view-title="Home" class="pane">

  <ion-content class="padding" on-swipe-right="goBack()" on-swipe-left="goForward()">
       <div class="item item-avatar animated zoomInLeft" style="border:none; background-color:#EEEEEE;" >
         <img src="img/imgres.png"><h2 style="color:orange">Lufthansa&nbsp;<h5 style="color:rgb(0,0,100);">Non Stop You..</h5></h2>
       </div>
  <div class="card animated fadeInDown">
    <div class="item item-divider" align="center">
    Specify the origin and destination
    </div>
    <div class="row">
    <div class="col col-50">
   <label class="item item-input item-stacked-label animated fadeInLeft">
   <span class="input-label" style="color:orange">Origin</span>
   <input type="text" placeholder="Flying From" id="t1" ng-model="or.or">
   </label>
 </div>
  <div class="col col-50">
   <label class="item item-input item-stacked-label animated fadeInRight">
   <span class="input-label" style="color:orange">Destination</span>
   <input type="text" placeholder="Flying To" id='t2' ng-model="dest.dest">
   </label>
 </div>
   <br>
 </div>
 </div>
   <div class="card animated fadeInUp">
     <div class="item item-divider" align="center">
     Specify your flight mode
     </div>
   <ion-list>
     <div class="row">
       <div class="col col-55" >
         <ion-radio name="group1" style="color:orange;" ng-model="choice" ng-value="'A'" ng-click="OneWayFlags(); OneWayTable()"><h3 style="color:rgb(0,0,100)" class="positive animated zoomInLeft">Oneway Trip</h3></ion-radio>
       </div>
       <div class="col col-45">
         <ion-radio name="group1" style="color:orange"  ng-model="choice" ng-value="'B'" ng-click="RoundtripFlags(); RoundtripTable()"><h3 style="color:rgb(0,0,100)" class="positive animated zoomInRight">&nbsp;&nbsp;Round Trip</h3></ion-radio>

       </div>
     </div>
   </ion-list>
   <div class="row">
     <div class="col col-50" ng-show="dt1Flag">
   <label class="item item-input item-stacked-label animated fadeInDown">
     <span class="input-label" style="color:orange">Departing Date</span>
  <input type="date"  placeholder="yyyy-mm-dd" ng-model="date1.date1" id="date1">
 </label>
 </div>
 <div class="col col-50" ng-show="dt2Flag">
<label class="item item-input item-stacked-label animated fadeInDown">
  <span class="input-label" style="color:orange">Returning Date</span>
<input type="date" placeholder="yyyy-mm-dd" ng-model="date2.date2" id="date2">
</label>
</div>
 </div>
 </div>
<div class="card animated fadeInLeft">
  <div class="item item-divider" align="center">
    Extra Options
  </div>
    <li class="item item-checkbox  checkbox-energized" >
   <h2 class="positive" style="color:rgb(0,0,100)">Search for other Airlines</h2>
   <label class="checkbox">
   <input type="checkbox" ng-model="chekboxFlag" ng-click="setClass()" ng-change=" flipCheck(); setOtherCompaniesFlag()">
   </label>
</li>
  <div class="row" ng-show="chekboxFlag" class="btn-group" uib-dropdown on-toggle="toggled(open)">
    <div class="col col-55">
      <ion-radio name="group2" style="color:orange"  ng-click="economy()" ng-value="'A'" ng-model="cl" toggle-class="toggle-positive"><h3 class="positive" style="color:rgb(0,0,100)">Economy</h3></ion-radio>

    </div>
    <div class="col col-45">
      <ion-radio name="group2" style="color:orange"  ng-click="business()" ng-value="'B'" ng-model="cl2" toggle-class="toggle-positive"><h3 class="positive" style="color:rgb(0,0,100)">Business</h3></ion-radio>

    </div>
  </div>
</div>
<div align="center">
<a class="button button-outline icon-right ion-chevron-right button-energized animated fadeInRight" style="background-color:white" ng-click="goToReservation() ; showAlert();">

  Search Flights
</a>
</div>


  </ion-content>
</ion-view>
