<ion-view view-title="Home" class="pane">
  <ion-content class="padding">

       <div class="item item-avatar animated zoomInLeft">
         <img src="img/imgres.png">&nbsp;&nbsp;&nbsp;&nbsp;<h2 style="color:orange">Lufthansa&nbsp;<h5 style="color:grey">Non Stop You..</h5></h2>

       </div>
<br>
<ion-list>
  <div class="row">
    <div class="col col-55">
      <ion-radio ng-model="choice" ng-value="'A'" ng-click="OneWayFlags(); OneWayTable()"><h3 class="positive">One Way Trip</h3></ion-radio>

    </div>
    <div class="col col-45">
      <ion-radio ng-model="choice" ng-value="'B'" ng-click="RoundtripFlags(); RoundtripTable()"><h3 class="positive">&nbsp;&nbsp;Round Trip</h3></ion-radio>

    </div>
  </div>
</ion-list>


  <br>
    <div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label" style="color:orange">Origin</span>
   <input type="text" style="color:grey" placeholder="Flying From" id="t1" ng-model="or.or">
   </label>
 <br>
   <label class="item item-input item-stacked-label">
   <span class="input-label" style="color:orange">Destination</span>
   <input type="text" style="color:grey" placeholder="Flying To" id='t2' ng-model="dest.dest">
   </label>
   <br>
   <div class="row">
     <div class="col-md-6" ng-show="dt1Flag">
   <label class="item item-input item-stacked-label">
     <span class="input-label" style="color:orange">Departing Date</span>
  <input type="text" style="color:grey" placeholder="yyyy-mm-dd" ng-model="date1.date1" id="date1">
 </label>
 </div>
 <div class="col-md-6" ng-show="dt2Flag">
<label class="item item-input item-stacked-label">
  <span class="input-label" style="color:orange">Returning Date</span>
<input type="text" style="color:grey" placeholder="yyyy-mm-dd" ng-model="date2.date2" id="date2">
</label>
</div>
 </div>
</div>
    <li class="item item-checkbox  checkbox-energized">
   <h2 class="positive">Other Airlines</h2>
   <label class="checkbox">
   <input type="checkbox" ng-model="chekboxFlag" ng-change=" flipCheck(); setOtherCompaniesFlag()">
   </label>
</li>
<div ng-show="chekboxFlag" class="btn-group" uib-dropdown on-toggle="toggled(open)" >
  <ion-toggle ng-click="economy()" ng-model="cl" toggle-class="toggle-positive"><h3 class="positive">economy</h3></ion-toggle>

  <ion-toggle ng-click="business()" ng-model="cl2" toggle-class="toggle-positive"><h3 class="positive">business</h3></ion-toggle>

  </div>
<br>
<a class="button button-outline icon-right ion-chevron-right button-block button-energized"   ng-click="goToReservation() ; showAlert()">

  Search Flights
</a>

    <a href="#/tab/landing/payment">Go to Payment</a>

  </ion-content>
</ion-view>
