<ion-view view-title="Home">
  <ion-content class="padding">
    <h2 >Landing page</h2>
    <div class="row">
      <div class="col-md-4">
        <label class="item item-radio">
           <input type="radio" name="group1" checked="{{dt1Flag}}" ng-click="OneWayFlags(); OneWayTable()" >
           <div class="item-content">
              One Way Trip
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
  </div>
  <div class="col-md-4">
    <label class="item item-radio">
         <input type="radio" name="group2" ng-click="RoundtripFlags(); RoundtripTable()">
         <div class="item-content">
            Round Trip
         </div>
         <i class="radio-icon ion-checkmark"></i>
      </label>
 </div>
  </div>
  <br><br>
    <div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label">Origin</span>
   <input type="text" placeholder="Flying From" id="t1" ng-model="or.or">
   </label>
 <br>
   <label class="item item-input item-stacked-label">
   <span class="input-label">Destination</span>
   <input type="text" placeholder="Flying To" id='t2' ng-model="dest.dest">
   </label>
   <br>
   <div class="row">
     <div class="col-md-6" ng-show="dt1Flag">
   <label class="item item-input">
  <input type="text" ng-model="date1.date1" id="date1">
 </label>
 </div>
 <div class="col-md-6" ng-show="dt2Flag">
<label class="item item-input">
<input type="date" data-date-format="YYYY MMMM DD" placeholder="Returning Date" ng-model="date2" id="date2">
</label>
</div>
 </div>
</div>
<div class="row">
  <div class="col col-75">
    <li class="item item-checkbox  checkbox-energized">
   Other Airlines
   <label class="checkbox">
   <input type="checkbox" ng-model="chekboxFlag" ng-change=" flipCheck(); setOtherCompaniesFlag()">
   </label>
</li>
</div>
<div class="col col-25">
<div ng-show="chekboxFlag" class="btn-group" uib-dropdown on-toggle="toggled(open)" >
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{pick}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" id="cl"  aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="item in classes" ng-click="selectClass(item)"><a href="#/">{{item}}</a></li>
    </ul>
  </div>
</div>
</div>

<a class="button button-calm"  href="#/tab/landing/search" ng-click="goToReservation()">

  Search Flights
</a>

  </ion-content>
</ion-view>
