<ion-modal-view view-title="News">
  <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
    <div class="list card">

    <div class="item item-avatar">
      <img src="img/adam.jpg">
      <h2>Marty McFly</h2>
      <p>April 05, 2016</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img/news2.jpg">
      <p>
        The Lufthansa Group’s 2016 Annual General Meeting in Hamburg was attended by some 1,400 shareholders.
      </p>
    </div>

  </div>

  <div class="list card">

    <div class="item item-avatar">
      <img src="img/mike.png">
      <h2>Mike Wiliams</h2>
      <p>April 17, 2016</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img/news3.jpg">
      <p>
        Group result one of the best in the company’s history • CEO Carsten Spohr: “After safety, future viability is and remains our paramount objective. And we made a lot of progress here.” • Strategic group development to be consistently continued • Further investments in 2016 in service and product enhancements
      </p>
    </div>
  </div>

  <div class="list card">

    <div class="item item-avatar">
      <img src="img/perry.png">
      <h2>Perry Zerg</h2>
      <p>April 28, 2016</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img/news4.png">
      <p>
      • Deadline for decision on exercising the call option to increase Lufthansa’s holding in SN Airholding from 45% to 100% extended three months • Lufthansa and Brussels Airlines working on migration concept into the Eurowings Group • Full acquisition subject to agreement on terms and migration concept
      </p>
    </div>
  </div>

  </ion-content>
</ion-modal-view>
