<ion-modal-view view-title="News">
  <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
    <div class="item item-body animated fadeInLeft">
      <h2>Trip to Paris!</h2>
      <img class="full-image" src="img/paris.jpg">
      <p>
        visit paris this summer for only $2999,00
      </p>
    </div>

    <div class="item item-body animated fadeInRight">
      <h2>Trip to New York!</h2>
      <img class="full-image" src="img/NYC.jpg">
      <p>
        visit paris this summer for only $4999,00
      </p>
    </div>

    <div class="item item-body animated fadeInLeft">
      <h2>Trip to Germany!</h2>
      <img class="full-image" src="img/berlin.jpg">
      <p>
        visit paris this summer for only $3999,00
      </p>
    </div>

</ion-content>
</ion-modal-view>
