<ion-view view-title="Available Flights" >
  <ion-content class="padding">
    <div class="card">
   <div class="item item-text-wrap" ng-repeat="f in flights.outgoingFlights">

   <div class="item item-text-wrap">
     <div class="item item-avatar">
      <img src="img/imgres.png">
      <p>
      {{f.Airline}}
      <br>
      {{f.departureDateTime | amDateFormat:'dddd, MMMM Do YYYY'}}&nbsp;&nbsp;<i class="icon ion-arrow-right-c"></i>
      <br>
      {{flights.returnFlights[$index].departureDateTime | amDateFormat:'dddd, MMMM Do YYYY'}}&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>
      </p>
   </div>

   </div>

 <div class="item item-text-wrap">
   <div class="row">
     <h4 style="color:grey">Class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Flight Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price</h4>
   </div>
     <br>
     <div class="row">
      <h3 style="color:orange">{{f.class}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f.flightNumber}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f.cost}}</h3>&nbsp;&nbsp;<i class="icon ion-arrow-right-c"></i>
    </div>
    <br>
    <div class="row">
      <h3 style="color:orange">{{flights.returnFlights[$index].class}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flights.returnFlights[$index].flightNumber}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flights.returnFlights[$index].cost}}&nbsp;&nbsp;</h3><i class="icon ion-arrow-left-c"></i>

    </div>
   </div>
   <div class="item item-text-wrap">
     <div class="row">
       <div class="col col-33">
         <br>
         <h2 style="color:blue">{{f.origin}}</h2>
         <br>
         <h4 style="color:orange">{{f.departureDateTime | amDateFormat:'h:mm a'}}</h4>
       </div>
       <div class="col col-33">
         &nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-plane" style="font-size : 50px"></i>
         <br>
         <h4 style="color:orange">&nbsp;&nbsp;&nbsp;&nbsp;Round Trip</h4>
       </div>
       <div class="col col-33">
         <br>
         <h2  style="color:blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f.destination}}</h2>
         <br>
         <h4 style="color:orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;{{flights.returnFlights[$index].departureDateTime | amDateFormat:'h:mm a'}}</h4>
       </div>

     </div>
     </div>
     <div class="item item-text-wrap">
       <a class="button button-block button-energized"  href="#/tab/landing/reserv1" ng-click="goToInfo()">

         BOOK NOW
       </a>
       </div>


   </div>
 </div>

  </ion-content>
</ion-view>
