

<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/a3.jpg);" >
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="full-height js-full-height">
                    <div class="fh5co-cover-intro col-md-12">

            <br> <br><br><br><br>

<uib-tabset active="active">
</uib-tab>
    <uib-tab index="0" heading="My Bookings">
    <br>
    <div class="container">
<div class="col-md-1">
<img src="images/images (1).png" alt="HTML5 Icon" height="50px" width="50px">
</div>
<div class="col-md-4">
          
<h2>Your Flights</h2>
</div>
</div>
    <div>
    <div>
    <font color="120F0F"><b>
     Booking Reference Number:
     </b></font> <input type="text" ng-model="book"/><br>
    <br>
    <button type="button" class="btn btn-info" ng-click="getMyBookings(book)">Check Your Flight Schedule
    </button>
    </div>
    <br>
    <div class="container-fluid">
<button type="button" class="btn btn-info" ng-click="collapse = !collapse">Flight Schedule
</button>
</div>
<div uib-collapse="collapse">
  <div class="container">
<div class="well well-lg"  ng-repeat="flights in bookings">
        <font color="#25383C"><p><b> Flight From {{ flights.origin }} To {{ flights.destination }} </b></p></font>
    <!--     <p id="bookingsDataHere">
        {{bookings}}
        </p> -->
  <font color="#8C001A">
  <i>
   <div class="col-md-2">
   {{ flights.flightNumber }}
   </div>
    <div class="col-md-1">

   {{ flights.aircraftType }}
   </div>
   <div class="col-md-2">

   {{ flights.aircraftModel }}
   </div>
   <div class="col-md-1">

   {{ flights.class }}
   </div>
    <div class="col-md-2">

   {{ flights.departureDateTime }}
   </div>
    <div class="col-md-2">
   {{ flights.arrivalDateTime }}
   </div>
   <div class="col-md-2">
   {{ flights.cost }}
   </div>
   </i>
   </font>
   <div>
        <label>
            <br>
            
            <input type="checkbox" ng-model="showData" ng-change="change()" />
           <font color="#25383C"> Rebook Flight </font>
        </label>
        <hr />
       
    </div>
   </div>
    <div class="container" ng-show='isVisible'>

                   <font color="#25383C"><h4>Please Pick Your New Flight Date</h4></font>
                   <div class="row">
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text"
                             class="form-control"
                             uib-datepicker-popup="{{format}}"
                             ng-model="dt"
                             is-open="popup1.opened"
                             ng-required="true"
                             close-text="Close"
                             alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                       </button>
                      </span>
                    </p>
                  </div>

                  </div>

        </div>
   </div>
   </div>
   </div>
    </uib-tab>
    <uib-tab index="1" heading="My Past Flights">
    <div class="container">
    <div class="well well-lg" ng-repeat="pastflights in Pastflights">
     <font color="#25383C"><p><b> A PastFlight Information </b></p></font>
     <font color=" #8C001A">
    <i>
    <div class= "col-md-1">
    {{ pastflights.origin }}
    </div>
    <div class= "col-md-1">
    {{ pastflights.destination }}
    </div>
    <div class= "col-md-1">
    {{ pastflights.flightNumber }}
    </div>
    <div class= "col-md-1">
    {{ pastflights.aircraftType }}
    </div>
    <div class= "col-md-2">
    {{ pastflights.aircraftModel }}
    </div>
    <div class= "col-md-2">
    {{ pastflights.departureDateTime }}
    </div>
    <div class= "col-md-2">
    {{ pastflights.arrivalDateTime }}
    </div>
   </i>
    </font>
    <div>
    
    </div>
    <div>
    <br><br><br>
    <font color="#25383C"><h3><b>Rating</b></h3></font>
    <uib-rating ng-model="rate" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null"  ></uib-rating>
    <span class="label" ng-show="overStar"></span>
    <pre style="margin:15px 0;">Rate: <b>{{rate}}</b></pre>
   </div>
   <form>
   <div class="form-group">
        <font color="#25383C"><label><b>Recommendations</b></label></font>
        <input type="text" name="name" class="form-control" ng-model="recommend">
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
        
    <font color="#25383C"><h4><br><b>List Of Recommendations</b></h4></font>
    <font color=" #8C001A">
  <i><div>{{ pastflights.comments }}</div></i></font>
    </div>
</form>
 </div>
 </div>
  </uib-tabset>
  </uib-tab>

  <hr />

            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

