<script>
(function(){

    // List your words here:
    var words = [
        'Thank u ',
        'Merci',
        'Gracias',
        'Danke sehr',
        'Spasiba',
        'Mahalo',
        'Eftharisto'
        ], i = 0;

    setInterval(function(){
        $('#changerificwordspanid').fadeOut(function(){
            $(this).html(words[i=(i+1)%words.length]).fadeIn();
        });
       // 2 seconds
    }, 2000);

})();
</script>


<link rel="stylesheet" type="text/css" href="/css/conf.css"/>



<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"

style="background-image: url(images/solo.jpg);
   opacity: 1;">
<!--your background image , add any image in the images folder and replace "full_1.jpg" with yours-->
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover-text">
    <div class="container">
      <div class="row">

            <br> <br><br><br>
              <div class ="col-md-8">
                     <h2 class="fh5co-heading wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s" id="changerificwordspanid"> Thank you  </h2>

                </div>

                <br><br><br><br><br><br>

               <div class="resized-splitflap">
            <div class="col-md-8 col-sm-6 col-xs-6 col-xxs-12">

                <div class="fh5co-post wow fadeInRight"  data-wow-duration=".5s" data-wow-delay=".5s">

                    <div class="fh5co-post-text" >

                    	<div style="background:orange !important" class="jumbotron" >
                          <h3>Reservation cofirmation</h3>
                        <p>
                           <FONT COLOR ="000000">Your Name:      </FONT><FONT COLOR ="ffffff">{{Confirm.fname + ' ' + Confirm.lname}}</FONT>
                           </p>
                        <p>
                              <FONT COLOR ="000000">Your email:      </FONT><FONT COLOR ="ffffff">{{Confirm.email}}</FONT>
                        </p>
                        <p ng-if="other==false">
                           <FONT COLOR ="000000">Seat number:       </FONT><FONT COLOR ="ffffff">{{Confirm.seatCode}}</FONT>
                           </p>
                           <p ng-if="rr">
                              <FONT COLOR ="000000">Returning Seat number:       </FONT><FONT COLOR ="ffffff">{{rSeat}}</FONT>
                              </p>
                           <p ng-if="other==false">
                              <FONT COLOR ="000000">class:     </FONT><FONT COLOR ="ffffff">{{Confirm.seatClass}}</FONT>
                              </p>
                        <p>
                           <FONT COLOR ="000000">Booking Reference number:     </FONT><FONT COLOR ="ffffff">{{receipt}}</FONT>
                           </p>
                        <p>
                           <FONT COLOR ="000000">Outgoing flight number</FONT><FONT COLOR ="ffffff">{{Confirm.flight}}</FONT>
                          </p>
                          <p ng-if="rr">
                             <FONT COLOR ="000000">returning flight number</FONT><FONT COLOR ="ffffff">{{rFlight}}</FONT>
                            </p>
                        <p>
                           <FONT COLOR ="000000">Departure date/time: </FONT><FONT COLOR ="ffffff">{{Confirm.odate}}</FONT>
                        </p>
                        </div>

                    </div>

                </div>
            </div>
            </div>

</div>
  </div>
</div>
