
<!--Adding some scroll-->
<uib-carousel active="0" interval="-1" no-wrap="false" xmlns:margin="http://www.w3.org/1999/xhtml" >
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
        <div class="fh5co-cover fh5co-cover-style-2 item active" data-stellar-background-ratio="0.5" data-next="yes"
             style="background-image: url({{slide.img}});" id="go3">
            <div class="fh5co-overlay"></div>
            <div class="fh5co-cover-text">
                <div class="container">
                    <div class="row">
                        <div class="full-height js-full-height">
                            <div class="fh5co-cover-intro col-md-12">
                                <br> <br><br><br><br><br><br><br>

                                <div class="col-md-12">
                                    <div class="sp-container">
                                        <h2 class="frame-1">{{slide.msg1}}</h2>

                                        <h2 class="frame-2">{{slide.msg2}}</h2>

                                        <h2 class="frame-3">{{slide.msg3}}</h2>

                                        <h2 class="frame-4">{{slide.msg4}}</h2>

                                        <h2 class="frame-5"><span>{{slide.msg5}}</span></h2>                                    </div>
                                    </div>

                                <div class="col-md-4"></div>



                                <div class="col-md-4">


                                    <div class="row p-b fh5co-blog-style-1" data-stellar-background-ratio="0.5" data-next="yes"
                                         style="background-color: transparent">

                                        <div class="fh5co-post wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".5s">
                                            <div class="fh5co-post-text">
                                                <!--TO Place the form group here -->
                                                <form>
                                                <label>Flying from :</label>
                                                <input name='originAirports'
                                                       id="originAirports"
                                                       required
                                                       type="text"
                                                       placeholder="Flying From"
                                                       ng-model="selectedOrigin"
                                                       uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
                                                       class="form-control"
                                                       typeahead-on-select="SetOriginAirport($item.iata); putMarkerO($item.lat, $item.lon)">
                                                <br>
                                                <label>Flying To :</label>
                                                <input name="destinationAirports"
                                                       id="destinationAirports"
                                                       required
                                                       type="text"
                                                       placeholder="Flying To"
                                                       ng-model="selectedDestination"
                                                       uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10"
                                                       class="form-control"
                                                       typeahead-on-select="SetDestinationAirport($item.iata); putMarkerD($item.lat, $item.lon)">
                                                <br>

                                                <label>Please specify the dates  </label>
                                                    <br>
                                                    <label class="radio-inline"><input type="radio" checked="{{dt1Flag}}" ng-click="OneWayFlags(); OneWayTable()" name="optradio">One Way</label>
                                                    <label class="radio-inline"><input type="radio"  ng-click="RoundtripFlags(); RoundtripTable()" name="optradio">Round trip</label>
                                                    <br><br>

                                                <div class="row">
                                                    <div class="col-md-6" ng-show="dt1Flag">
                                                        <p class="input-group">
                                                            <input type="text"
                                                                   id="date1"
                                                                   name="date1"
                                                                   class="form-control"
                                                                   required
                                                                   uib-datepicker-popup
                                                                   ng-model="dt"
                                                                   is-open="popup1.opened"
                                                                   ng-required="true"
                                                                   close-text="Close"
                                                                   alt-input-formats="altInputFormats"/>

                                                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                                                        </p>
                                                    </div>

                                                    <div class="col-md-6"  ng-show="dt2Flag">
                                                        <p class="input-group">
                                                            <input type="text"
                                                            name="date2"
                                                            id="date2"
                                                                   class="form-control"
                                                                   required
                                                                   uib-datepicker-popup
                                                                   ng-model="dt2"

                                                                   is-open="popup2.opened"
                                                                   ng-required="true"
                                                                   close-text="Close"/>
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <br>
                                                    <div class="btn-group" uib-dropdown on-toggle="toggled(open)" >
                                                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                                            {{pick}} <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"  aria-labelledby="single-button">
                                                            <li role="menuitem" ng-repeat="item in classes" ng-click="selectClass(item)"><a href="#/">{{item}}</a></li>
                                                        </ul>
                                                    </div>
                                                    <br>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" value="false"> Search for flights in another companies</label>
                                                    </div>
                                                    <br>
                                                    <button id="procced" name="procced" class="btn btn-primary"  ng-click="ShowHide()">Search Flights </button>

                                                </form>

                                                <br>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>



                    </div>



</div>

        </div>


    </uib-slide>
</uib-carousel>






<div class="fh5co-blog-style-1" data-stellar-background-ratio="0.5"  ng-show = "IsVisible" data-next="yes"
    style="background-image: url(images/ll3.jpg);" id="flightss">
    <div class="container">
        <div class="row p-b">
          <div class="jumbotron" style="background-color:orange">
          <h1 style="color:white">Available Flights</h1>


         <div >
  <div class="wrap">



  </div>
</div>
        </div>
        <div class="wrapper">
          <div class="row">
            <div  class="col-md-6">
          <div ng-show="round">


                          <h2 style="color:white" id="go">Going</h2>

                          <table  name="Going" class="table table-hover">

                        <thead>
                            <tr class="danger">
                                <th class="text-danger" >From</th>
                                <th class="text-danger">To</th>
                                <th class="text-danger">Date</th>
                                <th class="text-danger">Price</th>
                                <th class="text-danger">Book Now</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr class="danger" ng-repeat="flight in flights">
                          <td>{{flight.origin}}</td>
                          <td>{{flight.destination}}</td>
                          <td>{{flight.departingDate}}</td>
                          <td>3000</td>
                          <td>{{flight.returningDate}}</td>
                          <td>
                            <button type="button" class="btn btn-success btn-sm" ng-click="goToReservation()">Book</button>
                          </td>
                        </tr>
                        </tbody>
                    </table>

                    <br><br>
                    <h2 style="color:white">Returning</h2>
                    <table class="table table-hover" >
                  <thead>
                    <tr class="danger">
                        <th class="text-danger" >From</th>
                        <th class="text-danger">To</th>
                        <th class="text-danger">Date</th>
                        <th class="text-danger">Price</th>
                        <th class="text-danger">Book Now</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr class="danger" ng-repeat="flight in flights">
                    <td>{{flight.departureCity}}</td>
                    <td>{{flight.destinationCity}}</td>
                    <td>{{flight.departureDate}}</td>
                    <td>{{flight.priceClass.economyPrice}}</td>
                    <td>
                      <button type="button" class="btn btn-success btn-sm" ng-click="goToReservation()">Book</button>
                    </td>
                  </tr>
                  <tr class="danger" ng-repeat="flight in flights">
                  <td>{{flight.departureCity}}</td>
                  <td>{{flight.destinationCity}}</td>
                  <td>{{flight.departureDate}}</td>
                  <td>{{flight.priceClass.economyPrice}}</td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm" ng-click="goToReservation()">Book</button>
                  </td>
                </tr>
                <tr class="danger" ng-repeat="flight in flights">
                <td>{{flight.departureCity}}</td>
                <td>{{flight.destinationCity}}</td>
                <td>{{flight.departureDate}}</td>
                <td>{{flight.priceClass.economyPrice}}</td>
                <td>
                  <button type="button" class="btn btn-success btn-sm" ng-click="goToReservation()">Book</button>
                </td>
              </tr>


                  </tbody>
                  </table>



          </div>
          <div ng-show="one">


                          <h2 style="color:white" id="go2">Going</h2>

                          <table  name="Going" class="table table-hover">

                        <thead>
                            <tr class="danger">
                                <th class="text-danger" >From</th>
                                <th class="text-danger">To</th>
                                <th class="text-danger">Date</th>
                                <th class="text-danger">Price</th>
                                <th class="text-danger">Book Now</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr class="danger" ng-repeat="flight in flights">
                          <td>{{flight.departureCity}}</td>
                          <td>{{flight.destinationCity}}</td>
                          <td>{{flight.departureDate}}</td>
                          <td>{{flight.priceClass.economyPrice}}</td>
                          <td>
                            <button type="button" class="btn btn-success btn-sm" ng-click="goToReservation()">Book</button>
                          </td>
                        </tr>
                        </tbody>
                    </table>

                    <br><br>

        </div>

          </div>







      <div  class="col-md-6">
        <br><br><br>
        <div class="row p-b">
              <div id="map" align="center" style="height:400px;width:100%;">{{googleMap}} {{resizeMap()}}</div>
            </div>
      </div>
        </div>



</div>



      </div>
        <button type="button" class="btn btn-danger btn-sm" ng-click="ShowHide5()" >Hide Results</button>

            </div>




</div>


<!--Adding some scroll-->

<!--/adding some-->
<!--comment-->


<div class="fh5co-blog-style-1" data-stellar-background-ratio="0.5" data-next="yes"
     style="background-image: url(images/l1.jpg);" id="offers">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-heading wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Our Offers Just for
                    you</h2>
                <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">check our special offers and start
                    exploring the World</p>

            </div>
        </div>
        <div class="row p-b">
            <!--Dumpy data for offers-->
            <div  ng-repeat="x in offers" class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                <div class="fh5co-post wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".5s">

                    <div class="fh5co-post-text">
                        <h3><a href="#">{{x.title}}</a></h3>
                        <p>
                            {{x.offer}}
                        </p>
                    </div>

                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>
        </div>

    </div>
</div>

<div class="fh5co-content-style-6" data-stellar-background-ratio="0.5" data-next="yes"
     style="background-image: url(images/full_2.jpg);" id="news">
    <div class="container">
        <div class="row p-b text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Our news</h2>
                <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">FDeutsche Lufthansa AG is an airline with operations all over the world. It operates its core business of passenger transport through Lufthansa Passage Airlines (incl. Lufthansa Regional), Austrian Airlines, SWISS, and Germanwings and through affiliates Brussels Airlines and SunExpress. Its other business fields are logistics, engineering, catering and IT services.</p>
            </div>
        </div>
        <div class="row">
            <!--Dumpy data for news-->
            <div ng-repeat="x in news" class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration=".5s"
                 data-wow-delay=".5s">
                <a href="#" class="link-block">
                    <figure><img src={{x.imgUrl}} alt="Image" class="img-responsive img-rounded">
                    </figure>
                    <h3 style="color:orange">{{x.title}}</h3>
                    <p>
                        {{x.news}}
                    </p>

                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>
