<link rel="stylesheet" href="css/payment.css">
<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/ll3.jpg);" >
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="full-height js-full-height">
                    <div class="fh5co-cover-intro col-md-12">
                      <br><br><br><br><br><br><br><br>
                      <style>
                      @darkGreen: #4a6a28;
                      @lightGreen: #87ba51;
                      @greyState: #DDD;
                      @mainBlue: #0070c0;
                      ol {

                        &.progress-track {
                          display: table;
                          list-style-type: none;
                          margin: 0;
                          padding: 2em 1em;
                          table-layout: fixed;
                          width: 100%;

                          li {
                            display: table-cell;
                            line-height: 3em;
                            position: relative;
                            text-align: center;

                            .icon-wrap {
                              border-radius: 50%;
                              top: -1.5em;

                              color: #fff;
                              display: block;
                              height: 2.5em;
                              margin: 0 auto -2em;
                              left: 0;
                              right: 0;
                              position: absolute;
                              width: 2.5em;
                            }

                            .icon-check-mark, .icon-down-arrow {
                              height: 25px;
                              width: 15px;
                              display: inline-block;
                              fill: currentColor;
                            }

                            .progress-text {
                               position: relative;
                               top: 10px;
                            }

                            &.progress-done {
                              border-top: 7px solid @lightGreen;
                              transition: border-color 1s ease-in-out;
                              -webkit-transition: border-color 1s ease-in-out;
                              -moz-transition: border-color 1s ease-in-out;

                              .icon-down-arrow {
                                display: none;
                              }

                                &.progress-current {

                                  .icon-wrap {
                                    background-color: @mainBlue;

                                    .icon-check-mark {
                                     display: none;
                                    }

                                    .icon-down-arrow {
                                      display: block;
                                    }
                                  }
                                }

                              .icon-wrap {
                                background-color: @darkGreen;
                                border: 5px solid @lightGreen;
                              }
                            }

                            &.progress-todo {
                                border-top: 7px solid @greyState;
                                color: black;

                              .icon-wrap {
                                background-color: #FFF;
                                border: 5px solid @greyState;
                                border-radius: 50%;
                                bottom: 1.5em;
                                color: #fff;
                                display: block;
                                height: 2.5em;
                                margin: 0 auto -2em;
                                position: relative;
                                width: 2.5em;

                                .icon-check-mark, .icon-down-arrow {
                                    display: none;
                                }
                              }
                            }
                          }
                        }
                      }
                      </style>
                      <link rel="stylesheet" href="css/progress.css">
                      <ol class="progress-track">
                        <li class="progress-done">
                          <center>
                            <div class="icon-wrap">
                              <svg class="icon-state icon-check-mark">
                                <use xlink:href="#icon-check-mark"></use>
                              </svg>

                              <svg class="icon-state icon-down-arrow">
                                <use xlink:href="#icon-down-arrow"></use>
                              </svg>
                            </div>
                            <span class="progress-text">Personal Info</span>
                          </center>
                        </li>
                        <li class="progress-done">
                          <center>
                            <div class="icon-wrap">
                              <svg class="icon-state icon-check-mark">
                                <use xlink:href="#icon-check-mark"></use>
                              </svg>

                              <svg class="icon-state icon-down-arrow">
                                <use xlink:href="#icon-down-arrow"></use>
                              </svg>
                            </div>
                            <span class="progress-text">Choosing Seat</span>
                          </center>
                        </li>

                        <li class="progress-done progress-current">
                          <center>
                            <div class="icon-wrap">
                              <svg class="icon-state icon-check-mark">
                                <use xlink:href="#icon-check-mark"></use>
                              </svg>

                              <svg class="icon-state icon-down-arrow">
                                <use xlink:href="#icon-down-arrow"></use>
                              </svg>
                            </div>
                            <span class="progress-text">Payment</span>
                          </center>
                        </li>
                      </ol>


                       <div class="cc">

                          <h2>Enter your credit card details please</h2>

                          <span class="provider mastercard">MasterCard</span>
                          <span class="provider amex">American Express</span>
                          <span class="provider visa">Visa</span>

                          <!-- card number -->
                          <div class="number">
                            <input type="text" ng-model="v1" maxlength="4" placeholder="" ng-required="true">
                            <input type="text" ng-model="v2" maxlength="4" required>
                            <input type="text" ng-model="v3" maxlength="4" required>
                            <input type="text" ng-model="v4" maxlength="4" required>
                          <!-- </label>
                            <div role="alert">
                              <span class="error" ng-show="myForm.userName.$error.required">
                               Required!</span>
                            </div>
                            <label> -->
                            <span class="instructions"></span>
                          </div>

                          <!-- valid / ccv -->
                          <div class="date">
                            <span class="instructions valid">Valid Thru</span>
                            <input type="text" ng-model="validThru" maxlength="5" placeholder="00/00" required>

                            <span class="instructions valid">CCV</span>
                            <input type="text" ng-model="ccv" maxlength="3" placeholder="123" required>
                          </div>

                          <!-- name on card -->
                          <div class="name">
                            <input class="full-name" type="text" ng-model="fullName" maxlength="" inputmode='numeric' placeholder="John Doe" required>
                            <span class="instructions">Name on Card</span>
                          </div>

                          <!-- shine -->
                          <div class="shine"></div>
                          <div class="shine shine-layer-two"></div>



                        </div>
                        <div class="row" style="margin: 50px;">
                          <div class="col-xs-2">
                            <a id="cancel" href="#/" class="btn btn-info" role="button">cancel</a>
                          </div>
                          <div class="col-xs-2">
                            <a id="pay" ng-click="setPaymentFlag(); confirm()" class="btn btn-info" role="button">make payment</a>
                          </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
