<link rel="stylesheet" href="css/payment.css">
<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/l1.jpg);" >
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="full-height js-full-height">
                    <div class="fh5co-cover-intro col-md-12">
                      <br> <br><br><br><br><br><br><br>
                      <h1> Step 3 of 3</h1>
                      <div class="progress">
                       <div class="progress-bar" role="progressbar" aria-valuenow="100"
                       aria-valuemin="0" aria-valuemax="100" style="width:100%">
                         Personal Information&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reservation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Payment
                       </div>
                     </div>
                       <div class="cc">

                          <h2>Enter your credit card details please</h2>

                          <span class="provider mastercard">MasterCard</span>
                          <span class="provider amex">American Express</span>
                          <span class="provider visa">Visa</span>

                          <!-- card number -->
                          <div class="number">
                            <input type="text" maxlength="4" placeholder="">
                            <input type="text" maxlength="4">
                            <input type="text" maxlength="4">
                            <input type="text" maxlength="4">
                            <span class="instructions"></span>
                          </div>

                          <!-- valid / ccv -->
                          <div class="date">
                            <span class="instructions valid">Valid Thru</span>
                            <input type="text" maxlength="5" placeholder="00/00">

                            <span class="instructions valid">CCV</span>
                            <input type="text" maxlength="3" placeholder="123">
                          </div>

                          <!-- name on card -->
                          <div class="name">
                            <input class="full-name" type="text" maxlength="" inputmode='numeric' placeholder="John Doe">
                            <span class="instructions">Name on Card</span>
                          </div>

                          <!-- shine -->
                          <div class="shine"></div>
                          <div class="shine shine-layer-two"></div>



                        </div>
                        <div class="row" style="margin: 50px;">
                          <div class="col-xs-4">
                            <a id="cancel" href="#/" class="btn btn-info" role="button">cancel</a>
                          </div>
                          <div class="col-xs-4">
                            <a id="pay" href="#/confirm" class="btn btn-info" role="button">make payment</a>
                          </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
