<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url(images/img_same_dimension_5.jpg);">
  <div class="fh5co-overlay"></div>
    <div class="fh5co-cover-text">
        <div class="container">
            <div class="row">
                <div class="full-height js-full-height">
                    <div class="fh5co-cover-intro col-md-12">
                      <br> <br><br><br><br><br><br><br>
                      <div align="center">
                      <img src = "images/Airbus A330-300.png"></img>
                    </div>

                    <div class="container">

                      <table align="center" >
                        <tr class="container">
                      <td><div class="col-sm-1">

                      </div></td>
                      <td ><first-seat seats="firstClassSeats"></firstclass-seat> </td>
                        <td><div class="col-sm-1">

                        </div></td>
                      <td ><business-seat seats="businessSeats"><business-seat></td>
                        <td><div class="col-sm-1">

                        </div></td>
                      <td ><premium-seat seats="premiumEconomySeats"></premium-seat></td>
                      <td><div class="col-sm-1">

                      </div></td>
                      <td ><economy-seat seats="economySeats"></economy-seat></td>
                      <td><div class="col-sm-1">

                      </div></td>
                      </tr>
                    </table>

                  </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
